/* ---------- 弹性盒子 */
@mixin flex-row {
  display: flex;
  align-items: center;
}
@mixin flex-row-child {
  &.t {
    align-items: flex-start;
  }

  &.s {
    align-items: stretch;
  }

  &.b {
    align-items: flex-end;
  }

  &.c {
    justify-content: center;
  }

  &.r {
    justify-content: flex-end;
  }

  &.w {
    flex-wrap: wrap;
  }

  &>.grow {
    flex-grow: 1;
    overflow: hidden;
  }

  &> :not(.grow) {
    flex-shrink: 0;
  }
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}
@mixin flex-col-child {
  &.b {
    justify-content: flex-end;
  }

  &>.grow {
    flex-grow: 1;
  }

  &> :not(.grow) {
    flex-shrink: 0;
  }
}

@mixin flexBuild {
  .flex-row {
    @include flex-row;
    @include flex-row-child;
  }
  .flex-col {
    @include flex-col;
    @include flex-col-child;
  }
  .flex-center {
    @include flex-row;
    @extend .flex-row.c;
  }
}