/* ---------- 滚动盒子 */
@import './position.scss';

@mixin scroller($dir: y) {
  @if ($dir == y) {
    overflow-x: hidden;
    overflow-y: auto;
  } @else {
    overflow-x: auto;
    overflow-y: hidden;
  }
  -webkit-overflow-scrolling: touch;
}

/* ---------- 禁用 */
@mixin disabled {
  pointer-events: none;
  user-select: none;

  &.gray {
    filter: grayscale(1);
  }
}

/* ---------- 等比例盒子 */
@mixin ratioBefore($ratio: 100%) {
  &::before {
    content: '';
    float: left;
    padding-top: $ratio;
  }
}
@mixin ratio($ratio: 100%) {
  position: relative;
  @include ratioBefore($ratio);
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}
@mixin imgRatio($ratio: 100%) {
  position: relative;
  @include ratioBefore($ratio);
  &>* {
    @include fitCover;
  }
}

/* 导出 */
@mixin othersBuild {
  .scroller { @include scroller; }
  .scroller-x { @include scroller(x); }
  .disabled { @include disabled; }
  .ratio { @include ratio; }
  .imgRatio { @include imgRatio; }
}