@import "styles/common/others.scss";

@mixin block {
  display: block;
}

@mixin inline {
  display: inline;
}

@mixin inblock {
  display: inline-block;
}

@mixin inblock-row {
  letter-spacing: -1em;

  & > * {
    @include inblock;
    letter-spacing: 0;
  }
}

@mixin float-row {
  @include clearfix;

  & > * {
    float: left;
  }
}

@mixin scroller($dir: y, $isImportant: false) {
  $important: null;
  @if ($isImportant) {
    $important: !important;
  }

  @if ($dir==y) {
    overflow-x: hidden $important;
    overflow-y: auto $important;
  } @else {
    overflow-x: auto $important;
    overflow-y: hidden $important;
  }

  -webkit-overflow-scrolling: touch;
}

@mixin layoutBuild {
  .block {
    @include block;
  }

  .inline {
    @include inline;
  }

  .inblock {
    @include inblock;
  }

  .inblock-row {
    @include inblock-row;
  }

  .float-row {
    @include float-row;
  }

  .scroller {
    @include scroller;
  }

  .scroller-x {
    @include scroller(x);
  }
}
