/* ---------- 滚动盒子 */
@import './position.scss';

/* ---------- 禁用 */
@mixin disabled {
  pointer-events: none;
  user-select: none;

  &.gray {
    filter: grayscale(1);
  }
}

/* ---------- 等比例盒子 */
@mixin ratioBefore($ratio: 100%) {
  &::before {
    content: '';
    float: left;
    padding-top: $ratio;
  }
}

@mixin ratio($ratio: 100%) {
  position: relative;
  @include ratioBefore($ratio);

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin imgRatio($ratio: 100%) {
  position: relative;
  @include ratioBefore($ratio);

  &>* {
    @include fitCover;
  }
}

/* ---------- 清楚浮动 */
@mixin clearfix {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

/* 导出 */
@mixin othersBuild {
  .disabled {
    @include disabled;
  }

  .ratio {
    @include ratio;
  }

  .imgRatio {
    @include imgRatio;
  }

  .clearfix {
    @include clearfix;
  }
}