/* ---------- 文本超出省略 */
@mixin textOverflow($line) {
  @if $line==1 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  @else {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
  }
}

@mixin textBuild {
  .textOverflow {
    @include textOverflow(1);
  }

  @for $i from 2 through 4 {
    .textOverflow#{$i} {
      @include textOverflow($i);
    }
  }
}