/* ---------- 文本超出省略 */
.textOverflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin line-clamp($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

@for $i from 2 through 4 {
  .textOverflow#{$i} {
    @include line-clamp($i);
  }
}